__pycache__
.vscode
.idea/
.claude/
*.log
*.idx
*.npy
*.txt
!requirements/**
!docs/*
*.DS_Store
*.out
build
docs/build
dist
logs/*
log/
stepnft_log/
analysis_outputs/
outputs/*
*.so
.venv
.docs-venv
uv.lock
rlinf/envs/maniskill/assets
maniskill_assets/
RLinf-Pi0-ManiSkill-25Main-SFT/
RLinf-Pi05-ManiSkill-25Main-SFT/
RLinf-Pi05-LIBERO-SFT/
*.tar
*.pdf
*.mp4
*.safetensors
*.ckpt
*.pth
*.pt
